.sidebar-container{
    width:18%;
    background-color:#EEF2FF; /*#0f172a*/
    height:92vh;
    flex-grow: 0;
    border-right:2px solid #E5E7EB;
}

.menu-item{
    display:flex;
    align-items: center;
    color: #6B7280; /*#ffffff*/
    font-weight:600;
    padding-left:10px;
    cursor:pointer;
    transition:0.2s ease;
    padding:10px;
    gap:6px;
}

.active {
    display:flex;
    align-items: center;
    font-weight:600;
    padding-left:10px;
    cursor:pointer;
    transition:0.2s ease;
    padding:10px;
    gap:6px;
  background-color: rgba(59, 130, 246, 0.2);
  color:#4F46E5;
}

.menu-item:hover{
    transform:translateX(5px);
    background-color: rgba(180, 130, 246, 0.15);
}