
.savedposts-bgContainer{
    display: flex;
    flex-direction: column;
    height:100vh;
    background-size: cover;
}

.savedposts-firstContainer{
    display: flex;
    width:100%;
}

.savedposts-secondContainer{
    display: flex;
    flex-direction: column;
    width:82%;
    padding-left:10px;
    height:90vh;
    overflow-y: scroll;
}

.empty-state {
  text-align: center;
  margin-top: 80px;
  color: #94a3b8;
}

.empty-title {
  font-size: 18px;
  color: #6B7280;
  margin-bottom: 10px;
}

.empty-text {
  font-size: 14px;
}
.posts-list{
    list-style-type:none;
    padding:0;
    margin: 0;
    width:100%;
}

.post-item{
    margin-bottom: 20px;
}

.saved-heading-container{
    display: flex;
    justify-content: flex-start;
}

.saved-Container-heading{
    color:#111827;
    font-family: "Roboto";
    font-size: 25px;
    font-weight: 600;
    padding:10px;
    border-radius: 10px;
}